*{
    box-sizing: border-box;
  }

/* --- VARIABLES --- */

:root {
    --font-family: "Urbanist", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --light-font: 200;
    --primary-color: #F4ACB7;
    --secondary-color: #035E7B;
    --primary-shadow: #412234;
    --bg-color: #D8E2DC;
    --transiiton: 0.3s;
    --line-height: 1.7rem;
}

/* --- LAYOUT --- */

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25rem 2rem;
    background-color: var(--bg-color);
    position: sticky;
    z-index: 1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  }
  nav ul{
    display: flex;
    gap: 1.9rem;
  }
  .burgerMenu{
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
  #introduction{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 70rem;
    margin: auto;
    padding-top: 2rem;
  }
  .portrait{
    height: 30rem;
  }
  .bio{
    width: 25rem;
    padding: 0.6rem;
    border-radius: 10px;
    border: 3px solid var(--bg-color);
    background-color: var(--bg-color);
  }


  /* --- STYLE --- */

  ul{
    list-style-type: none;
  }
  a{
    text-decoration: none;
    color: var(--primary-color);
  }
  a:hover{
    color: var(--secondary-color);
  }
  body{
    font-family: var(--font-family);
  }
    
/*NAV*/

  nav h2 {
    color: var(--secondary-color);
    font-size: 2rem;
  }

  nav a{
    transition: var(--transition);
    font-weight: var(--normal-font);
    font-size: 1.5rem;
  }
  nav a:hover{
    border-bottom: 2px solid var(--secondary-color);
  }

  /*BIO*/

.bio h1, .bio p{
    line-height: var(--line-height);
    padding: 0 0.9rem;
}
